

	.logo {
		height: 40px; 
	}
	body {
		font-family: Arial, sans-serif;
		max-width: 800px;
		margin: 0 auto;
		padding: 20px;
		padding-top: 100px;
		background-color: #E4E6C3;
	}
	h1 {
		displat: inline-block;
		width: 100%;
		color: #2B2D42;
		text-align: center;
		background-color: #EDF2F4;
		border: 1px solid black;
		border-radius: 3px;
		padding: 15px;
		width: 500px;
		margin: 20px auto;
		box-shadow: 0 4px 6px rgba(0,0,0,0.1);

	}
	table {
		width: 100%;
		border-collapse: collapse;
		background-color: white;
	}
	
	th, td {
		border: 1px solid #ddd;
		padding: 12px;
		text-align: left;
	}
	.uuid-td{
		text-align: center;
		color: red;
	}
	th {
		background-color: #f2f2f2;
		font-weight: bold;
	}
	tr:nth-child(even) {
		background-color: #f8f8f8;
	}
	.delete-form {
		display: inline;
		margin-left: 10px;
	}
	.delete-btn {
		background-color: #ff4d4d;
		color: white;
		border: none;
		padding: 5px 10px;
		cursor: pointer;
		border-radius: 3px;
	}
	.delete-btn:active {
    transform: scale(0.95);  
	background-color: #ff3333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	}

    	.info-form {
		display: inline;
		margin-left: 10px;
	}
	.info-btn {
		background-color: #09814A;
		color: white;
		border: none;
		padding: 5px 10px;
		cursor: pointer;
		border-radius: 3px;
	}
	.info-btn:active {
    transform: scale(0.95);  
	background-color: #2D4739;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	}
	.edit-form{
	    display: inline-block;
	    margin: 0;
	    padding: 0;
	}
	.edit-img{
	    height: 20px;
	    width: 20px;
	    vertical-align: middle;
	}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E4E6C3;
    display: flex;
    justify-content: center;
	height: 80px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
