<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
                {{ template "header.html" .}}
    <main>

        <h1>About Me</h1>
            <h2>Who I Am </h2>
            <p>I am a Vidal, a young guy from Spain and a lover of programming, computer science, and arts.  </p>
            <h2>Our Mission</h2>
            <p>Focused on dominating the field of backend engineering and making my skills known. Intrested in creating, developing, and learning.</p>
        
    </main>
        {{ template "footer.html" .}}
</body>
</html>
